.container {
    width: 115px;
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 10px;
    & > p {
        color: white;
        text-align: center;
        margin-top: .4rem;
        font-size: 0.7rem;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}