main {
    margin-bottom: 4rem;
}
.caroussel {
    margin-bottom: 0;
}
.accomodation {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    @media only screen and (min-width: 685px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
     }
}

.infos {
    margin: 0;
    color: var(--primary-color);
    & > h1 {
        margin: 0;
        font-weight: 600;    
    }
    & > p {
        margin-top: .7rem;
    }
   
    &__taglist {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }   
}

.badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (min-width: 685px) {
        flex-direction: column-reverse;
        align-items: end;
     }
    
    &__star {
        font-size: 2rem;
    }
    &__host {
        font-size: 3rem;
    }
}

.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 1rem;
    @media only screen and (min-width: 685px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
     }
    &__description {
        font-size: 1.5rem;
    }
    &__equipments {
        font-size:  1.5rem;
    }
    
}
