.card {
    position: relative;
    width: 100%;
    height: 340px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .3s ease-in-out;
        &:hover {
           filter: brightness(110%);
           transform: scale(1.1);
        }
    }
    &__title {
        z-index: 10;
        position: absolute;
        bottom: .2rem;
        left: .2rem;
        &__text {
            margin-left: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
            color: white;
        }
    }
    


}