.nav {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    display: flex;
    
    &__firstlink, &__secondlink {
        font-size: 1.2rem;
        text-decoration: none;
        color: black;
        padding-left: 0.5rem;
        &:hover {
            text-decoration-line: underline;
        }

    }
}