.nav {
    position: absolute;
    right: 1.2rem;
    top: 3.7rem;
    display: flex;
    
    a {
        font-size: 1.4rem;
        margin-left: 4rem;
        text-decoration: none;
        color: var(--primary-color);
        padding-left: 0.5rem;
        &.active {
            text-decoration-line: underline;
        }
        &:hover {
            text-decoration-line: underline;
        }
        @media only screen and (max-width: 685px) {
            margin-left: 0.8rem;
            font-size: 1.2rem;
        }
    }
}