.banner {
    margin: 3rem .8rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../../assets/IMG.png);
    height: 123px;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 8px 14px -10px #000000;
    @media only screen and (min-width: 685px) {
        height: 223px;
        justify-content: center;
    }

    &__text {
        color: white;
        margin-left: 1rem;
        width: 20rem;
        font-size: 1.5rem;
        font-weight: 500;
        @media only screen and (min-width: 685px) {
            margin-left: 0;
            font-size: 2.5rem;
            min-width: 40rem;
        }
    }

}