.banner {
    margin: 1rem .5rem;
    position: relative;
    border-radius: 20px;
    background-image: url(../../assets/IMG.png);
    height: 123px;
    background-position: center;
    background-size: cover;

    &__text {
        position: absolute;
        top: 1rem;
        color: white;
        left: 2rem;
        width: 20rem;
        font-size: 1.5rem;
        font-weight: 500;

    }

}