.banner {
    margin: 1rem .5rem;
    position: relative;
    background-color: blue;
    height: 7rem;
    
    &__text {
        margin: auto;
        color: white;
        padding-top: .4rem;
        width: 17rem;
        font-size: 1.4rem;
        font-weight: 300;

    }

}